<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376510026507-07upsdp7g404o38id4fdsn72sqkd1dcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376510026507-07upsdp7g404o38id4fdsn72sqkd1dcg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>376510026507-1s7nkgc2fo5dtm6c5pnpo1kpgrk9sdtf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuo7D5Na8Osl4hbLtFeustM106CY9NfzY</string>
	<key>GCM_SENDER_ID</key>
	<string>376510026507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkiDog</string>
	<key>PROJECT_ID</key>
	<string>parkidog</string>
	<key>STORAGE_BUCKET</key>
	<string>parkidog.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376510026507:ios:ec88d8ca421ddc7baa880e</string>
</dict>
</plist>