<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>GIDClientID</key>
    <string>376510026507-07upsdp7g404o38id4fdsn72sqkd1dcg.apps.googleusercontent.com</string>
    <!-- Put me in the [my_project]/ios/Runner/Info.plist file -->
    <!-- Google Sign-in Section -->
    <key>CFBundleURLTypes</key>
    <array>
    	<dict>
    		<key>CFBundleTypeRole</key>
    		<string>Editor</string>
    		<key>CFBundleURLSchemes</key>
    		<array>
    			<!-- TODO Replace this value: -->
    			<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
    			<string>com.googleusercontent.apps.376510026507-07upsdp7g404o38id4fdsn72sqkd1dcg</string>
    			<string>fb572855455074029</string>
    		</array>
    	</dict>
    </array>
    <key>FacebookAppID</key>
    <string>572855455074029</string>
    <key>FacebookClientToken</key>
    <string>bb2620bd791a9954264ee6d165358fc1</string>
    <key>FacebookDisplayName</key>
    <string>Parki Dog</string>
    <!-- End of the Google Sign-in Section -->
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Parki Dog</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>it</string>
	</array>
	<key>CFBundleName</key>
	<string>Parki Dog</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>Parki Dog needs access to your location to find nearby parks</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>13.0</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to your camera to let you take a new profile picture.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to let you choose a profile picture.</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
